<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp_Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="drone_map">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> drone_map
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="task_manage">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> task_manage
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="history-analysis">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> history-analysis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="python-backend">
                <span class="bi bi-robot" aria-hidden="true"></span> Python 后端
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="video-processing">
                <span class="bi bi-camera-video" aria-hidden="true"></span> 视频处理
            </NavLink>
        </div>
    </nav>
</div>

